.navbar{
    width: 99%;
    height: 30px;
    padding: 25px;
    margin: auto;
    display: flex;
    top: 0%;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    background-color: rgb(5, 94, 6);
}
.logo{
    width: 25px;
    height: 25px;
}
.logo>img{
    width: 100%;
    height: 100%;
}
.container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 450px;
    gap: 5px;
    padding: 20px;
}
.card{
    width: 20vw;
    height: 65vh;
    border: 2px solid gray;
    background-color: rgb(174, 199, 199);
    border-radius: 10px ;
}
.box_img{
    width: 100%;
    height: 60%;
    box-shadow: 0 0 5px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.box_img >img{
    width: 100%;
    height: 100%;
   object-fit: cover;
    
}
.title{

    
    padding: 10px;
    margin: auto;
    
}
.price{
    font-size: 15px;
    color: blue ;
}
.price:hover{
    color: rgb(214, 12, 12);
}
.btn{
    width: 100%;
    height: 29px;
    border: none;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(136, 239, 1);
    color: white;
}
.btn:hover{
    background-color: aqua;
    color: blue;
}
img:hover{
    transform: scale(1.02);
}