.header{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: aquamarine;
}
.box{
    width: 30vw;
    height: 70vh;
    border: 5px solid rgb(74, 113, 74);
    border-radius: 15px;
    margin: auto;
    padding: 25px;
    background-color: rgba(36, 130, 86, 0.27);
}
.box_img{
    width: 50%;
    height: 60%;
    border: 10px solid rgb(217, 233, 217);
    margin: auto;
    border-radius: 25px;
    
}
.name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
img{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
    margin-right: 40;
}
button{
    width: 80px;
    height: 25px;
    background-color: rgb(34, 12, 235);
    border-radius: 5px;
    margin: auto;
}
.discount{
    width: 50px;
    height: 20px;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 2px;
    
    background-color: red;
    right: 20px;;
    border-radius: 5px;
}